.cardContainer {
  margin: 15px;
  position: relative;
  overflow: scroll;
  height: 100%;
}

.planTools {
  display: flex;
  padding: 7px 15px;

  #addTask {
    padding: 10px;
    margin: 0px 5px;
    box-shadow: -2px 2px 3px #888888;
    border-radius: 100%;
  }
}
