header {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid $dark-purple;
  background-color: black;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      padding-left: 0px;
      list-style-type: none;

      li {
        padding: 2px 5px 2px 5px;

        a {
          color: $light-purple;
          text-decoration: none;

          &:hover {
            color: $mellow-yellow;
            text-decoration: underline;
          }
        }
      }
    }
  }
}