header {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 10px;

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div {
      display: flex;
      margin-right: 35%;
      padding-left: 2%;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;

      li {
        padding: 2px 5px 2px 5px;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            color: $light-blue;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// #home-button {
//   display: flex;
//   align-self: flex-start;
// }