header {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 10px;
  background-color: $coal;


  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div {
      display: flex;
      margin-right: 36%;
      padding-left: 2%;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;

      li {
        padding: 2px 5px 2px 5px;

        a {
          color: $light-purple;
          text-decoration: none;

          &:hover {
            color: $mellow-yellow;
            text-decoration: underline;
          }
        }
      }
    }
  }
}