.editableGroup {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 5px;
    font-size: small;
    border: 2px solid $mellow-yellow;
    border-radius: 10px;
    height: 300px;
    width: 160px;
    background-color: $dark-purple;
    color: $dark-purple;

    div {
      overflow: scroll;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px;
      border-top: 2px dashed $mellow-yellow;
      height: 65px;
      padding: 10px;
      color: $light-purple;
      letter-spacing: 0.15em
    }

    .groupHeader {
      background-color: $light-purple;
      height: 40px;
      color: $dark-purple;
      border-top: none;
    }
}