.breadcrumb {
  display: flex;
  height: 50%;
  margin: auto 5px auto 5px;

  .crumb-container {
    display: flex;
  }

  .crumb.active {
    background-color: $mellow-yellow;
    color: $dark-purple;
  }

  .crumb {
    display: flex;
    width: 100px;
    height: 50px;
    margin: 0px 10px;
    border: 2px $light-purple solid;
    justify-content: center;
    align-items: center; // maybe add overflow hiddne and text-overflow: ellipses
    background-color: transparent;
    color: $light-purple;
    border-radius: 100%;
    padding: 10px;
    font-size: 12px;
    line-height: 1.1em;
  }
}

.divider {
  color: $light-purple;
  height: 50%;
  margin: auto;
  padding: 5px;
}

.link {
  color: $light-purple;
  cursor: pointer;
}
