.breadcrumb {
  display: flex;
  height: 50%;
  margin: auto 5px auto 5px;
  letter-spacing: 0.1em;
}

.active, .divider {
  color: #79679e;
}

.link {
  color: $light-purple;
}

.divider {
  padding: 5px;
}